<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID"  version="4.0">
  <display-name>TestProject</display-name>
  
  	<servlet>
  		<servlet-name>hello</servlet-name>
  		<servlet-class>com.jinw0909.test.HelloController</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>hello</servlet-name>
  		<url-pattern>/hello</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>ServletEx01</servlet-name>
  		<servlet-class>com.jinw0909.servlet.ServletEx01</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>ServletEx01</servlet-name>
  		<url-pattern>/servlet/ex01</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>ServletTest01</servlet-name>
  		<servlet-class>com.jinw0909.servlet.ServletTest01</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>ServletTest01</servlet-name>
  		<url-pattern>/servlet/test01</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>ServletTest02</servlet-name>
  		<servlet-class>com.jinw0909.servlet.ServletTest02</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>ServletTest02</servlet-name>
  		<url-pattern>/servlet/test02</url-pattern>
  	</servlet-mapping>
  	
  	<!-- Filter 추가 -->
  	
  	  
  	<filter>
  		<filter-name>CharacterEncodingFilter</filter-name>
  		<filter-class>com.jinw0909.common.CharacterEncodingFilter</filter-class>
  	</filter>
  	<filter-mapping>
  		<filter-name>CharacterEncodingFilter</filter-name>
  		<url-pattern>/*</url-pattern>
  	</filter-mapping>
  	
  	
  	
  
</web-app>